* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-desktop.png);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-desktop-light.png);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: var(--text-color);
}

h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

#container {
  width: 96%;

  margin: 56px auto 0;
  padding: 0 24px;
}

/* profile */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* switch */

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  height: 32px;
  width: 32px;

  border: 0;
  border-radius: 50%;
  background: white var(--switch-bg-url) no-repeat center;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-out 0.2s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch span {
  display: block;

  width: 64px;
  height: 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* links */

div#portifolio-list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
  margin: 40px auto 24px;
  max-width: 1000px;
}

div#portifolio-list > div {
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

div#portifolio-list > div a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

div#portifolio-list > div a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);
}

h1.mockup-title {
  text-align: center;
}

div.mockup-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--surface-color);
  border-radius: 8px;
  padding: 24px 16px;
}

div.mockup-image-container img {
  width: 100%;
  max-width: 400px;
}

div.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

div.links-container a {
  flex: 1;
}

/* social links */

#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

div.title-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

span.tag {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background: var(--surface-color);
  border-radius: 9999px;
  padding: 4px 8px;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* media queries */
@media (max-width: 700px) {
  div#portifolio-list {
    grid-template-columns: 1fr;
  }
  :root {
    --bg-url: url(./assets/bg-mobile.png);
  }

  .light {
    --bg-url: url(./assets/bg-mobile-light.png);
  }
}

/* animation */

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
